body {
  padding: 1em;
  width: calc(100% - 2em);
  max-width: 900px;
  margin: auto;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}
a {
  color: #4778f2;
  text-decoration-style: dotted;
}
.status h2 {
  padding: 0.25em 0.5em;
  color: #fff;
  background-color: #3BDD3F;
  border-radius: 6px;
}
.status p {
  padding: 0 1em;
  font-weight: 200;
}
.status span {
  font-weight: 500;
}